$color-primary-black: #1d1d1d;
$color-primary-white: #ffffff;
$color-secondary-yellow: #f2da00;
$color-secondary-light-yellow: #f9ed80;
$color-secondary-grey: #808285;
$color-secondary-light-grey: #fafafa;
$color-notification-red: #e53e3e;
$color-grey-100: #edf2f7;
$color-grey-200: #e2e8f0;
