@import 'colors';

:export {
  colorPrimaryBlack: $color-primary-black;
  colorPrimaryWhite: $color-primary-white;
  colorSecondaryYellow: $color-secondary-yellow;
  colorSecondaryLightYellow: $color-secondary-light-yellow;
  colorSecondaryGrey: $color-secondary-grey;
  colorSecondaryLightGrey: $color-secondary-light-grey;
  colorGrey100: $color-grey-100;
  colorGrey200: $color-grey-200;
  colorNotificationRed: $color-notification-red;
}
