.button-find {
  width: auto;
  height: 50px;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 21px 77px;
}

.button-find:hover {
  background-color: #cdcdcd;
  color: white;
}

.search-title {
  text-align: left;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.article-container {
  margin-top: 20px;
  max-width: 882px;
  border-radius: 16px;
  padding: 32px 27px;
  border: 1px solid #000000;
  display: flex;
  gap: 16px;
  justify-content: center;
}

.left-content {
  height: 128px;
  min-width: 128px;
}

.expand-container {
  display: inline-block;
  margin-top: 17px;
  gap: 20px;
}

.expandable-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 8px;
  cursor: pointer;
  min-width: 679px;
}

.expandable-area-left-content {
  display: inline-flex;
  gap: 16px;
  align-items: flex-end;
}

.article-scroll-area {
  overflow-y: scroll;
  max-height: 153px;
}

.search-content {
  min-width: 855px;
  padding-bottom: 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  gap: 14px;
}

.expanded-content h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  margin-top: 16px;
  margin-bottom: 16px;
}
